<b>Name</b>
<p><%= full_name(payslip.first_name, payslip.last_name) %></p>
<b>Pay period</b>
<p><%= pay_period(payslip.payment_start_date) %></p>
<b>Gross income</b>
<p><%= payslip.gross_income %></p>
<b>Income tax</b>
<p><%= payslip.income_tax %></p>
<b>Net income</b>
<p><%= payslip.net_income %></p>
<b>Super</b>
<p><%= payslip.super %></p>